In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

%matplotlib inline 

from urllib.request import urlopen 
from bs4 import BeautifulSoup
import re

In [3]:
url ="https://www.hubertiming.com/results/2025HVFunRun"

html=urlopen(url)

In [4]:
soup = BeautifulSoup(html)

In [5]:
title = soup.title
print(title)  # <title>
print(title.text)

<title>Race results for the 2025 Happy Valley Fun Run!</title>
Race results for the 2025 Happy Valley Fun Run!

In [6]:
links = soup.find_all('a', href=True)
for link in links:
        print(link.get('href'))

https://www.hvepto.org/
mailto:timing@hubertiming.com
https://www.hubertiming.com
/results/2025HVFunRun10K
/results/summary/2025HVFunRun
#tabs-1
https://www.hubertiming.com/
https://facebook.com/hubertiming/

In [19]:
data = []
allrows = soup.find_all("tr")
for row in allrows:
    row_data = row.find_all("td")
    dataRow = []
    for cell in row_data:
        dataRow.append(cell.text)
    data.append(dataRow)
data = data[4:]  # Skip the header row
print(data[-2:])

[['233', '138', '\r\n\r\n                    ALICE SARIEDDINE\r\n\r\n                ', 'F', '9', 'HAPPY VALLEY', 'OR', '1:02:36', '20:11', '\r\n\r\n                    126 of 126\r\n\r\n                ', 'F 9 and Under', '\r\n\r\n                    5 of 5\r\n\r\n                ', '0:02', '1:02:38'], ['234', '139', '\r\n\r\n                    ROY SARIEDDINE\r\n\r\n                ', 'M', '7', 'HAPPY VALLEY', 'OR', '1:03:08', '20:21', '\r\n\r\n                    108 of 108\r\n\r\n                ', 'M 9 and Under', '\r\n\r\n                    8 of 8\r\n\r\n                ', '0:02', '1:03:10']]

In [21]:
df = pd.DataFrame(data)
print(df.head(2))

     0     1                                                  2     3     4   \
0  None  None                                               None  None  None
1     1   251  \r\n\r\n                    GRAYCIN JANZEN\r\n...     M    17

             5     6      7     8   \
0          None  None   None  None
1  HAPPY VALLEY    OR  20:56  6:45

                                                  9          10  \
0                                               None       None
1  \r\n\r\n                    1 of 108\r\n\r\n  ...  M Overall

                                                  11    12     13
0                                               None  None   None
1  \r\n\r\n                    1 of 3\r\n\r\n    ...  0:03  20:59

In [22]:
header_list = []
col_headers = soup.find_all("th")
for col in col_headers:
    header_list.append(col.text)

print(header_list)

['Place', 'Bib', 'Name', 'Gender', 'Age', 'City', 'State', 'Time', 'Chip Pace', 'Gender Place', 'Division', 'Division Place', 'Time to Start', 'Gun Time']

In [ ]:
df.columns = header_list
print(df.head())

  Place   Bib                                               Name Gender   Age  \
0  None  None                                               None   None  None
1     1   251  \r\n\r\n                    GRAYCIN JANZEN\r\n...      M    17
2     2    61  \r\n\r\n                    JACK WEIGEL\r\n\r\...      M    13
3     3   249  \r\n\r\n                    ROBERT DELGADO\r\n...      M    16
4     4   168  \r\n\r\n                    JAYDEN DA SILVA\r\...      M    15

           City State   Time Chip Pace  \
0          None  None   None      None
1  HAPPY VALLEY    OR  20:56      6:45
2      DAMASCUS    OR  21:23      6:53
3  HAPPY VALLEY    OR  21:37      6:58
4  HAPPY VALLEY    OR  21:49      7:02

                                        Gender Place   Division  \
0                                               None       None
1  \r\n\r\n                    1 of 108\r\n\r\n  ...  M Overall
2  \r\n\r\n                    2 of 108\r\n\r\n  ...  M Overall
3  \r\n\r\n                    3 of 108\r\n\r\n  ...  M Overall
4  \r\n\r\n                    4 of 108\r\n\r\n  ...    M 15-19

                                      Division Place Time to Start Gun Time
0                                               None          None     None
1  \r\n\r\n                    1 of 3\r\n\r\n    ...          0:03    20:59
2  \r\n\r\n                    2 of 3\r\n\r\n    ...          0:06    21:29
3  \r\n\r\n                    3 of 3\r\n\r\n    ...          0:04    21:41
4  \r\n\r\n                    1 of 13\r\n\r\n   ...          0:02    21:51

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Place           234 non-null    object
 1   Bib             234 non-null    object
 2   Name            234 non-null    object
 3   Gender          234 non-null    object
 4   Age             234 non-null    object
 5   City            234 non-null    object
 6   State           234 non-null    object
 7   Time            234 non-null    object
 8   Chip Pace       234 non-null    object
 9   Gender Place    234 non-null    object
 10  Division        234 non-null    object
 11  Division Place  234 non-null    object
 12  Time to Start   234 non-null    object
 13  Gun Time        234 non-null    object
dtypes: object(14)
memory usage: 25.8+ KB

In [28]:
df.describe(include='all')

,Place,Bib,Name,Gender,Age,City,State,Time,Chip Pace,Gender Place,Division,Division Place,Time to Start,Gun Time
count,234,234,234,234,234,234,234,234,234,234,234,234,234,234
unique,234,234,234,2,62,31,9,213,185,234,30,120,67,212
top,1,251,\r\n\r\n GRAYCIN JANZEN\r\n...,F,11,HAPPY VALLEY,OR,24:32,11:09,\r\n\r\n 1 of 108\r\n\r\n ...,F 10-14,\r\n\r\n 1 of 7\r\n\r\n ...,0:04,32:57
freq,1,1,1,126,13,128,218,2,4,1,17,4,13,3

In [30]:
df.shape

(235, 14)

In [31]:
df2 = df.dropna(how ='any')
df2.shape

(234, 14)

In [42]:
df

,Place,Bib,Name,Gender,Age,City,State,Time,Chip Pace,Gender Place,Division,Division Place,Time to Start,Gun Time
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,1,251,\r\n\r\n GRAYCIN JANZEN\r\n...,M,17,HAPPY VALLEY,OR,20:56,6:45,\r\n\r\n 1 of 108\r\n\r\n ...,M Overall,\r\n\r\n 1 of 3\r\n\r\n ...,0:03,20:59
2,2,61,\r\n\r\n JACK WEIGEL\r\n\r\...,M,13,DAMASCUS,OR,21:23,6:53,\r\n\r\n 2 of 108\r\n\r\n ...,M Overall,\r\n\r\n 2 of 3\r\n\r\n ...,0:06,21:29
3,3,249,\r\n\r\n ROBERT DELGADO\r\n...,M,16,HAPPY VALLEY,OR,21:37,6:58,\r\n\r\n 3 of 108\r\n\r\n ...,M Overall,\r\n\r\n 3 of 3\r\n\r\n ...,0:04,21:41
4,4,168,\r\n\r\n JAYDEN DA SILVA\r\...,M,15,HAPPY VALLEY,OR,21:49,7:02,\r\n\r\n 4 of 108\r\n\r\n ...,M 15-19,\r\n\r\n 1 of 13\r\n\r\n ...,0:02,21:51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,230,57,\r\n\r\n JESSICA YANG\r\n\r...,F,24,HAPPY VALLEY,OR,1:02:03,20:00,\r\n\r\n 123 of 126\r\n\r\n...,F 20-24,\r\n\r\n 10 of 10\r\n\r\n ...,0:00,1:02:03
231,231,18,\r\n\r\n ROSELYN SHAMMASIAN...,F,40,HAPPY VALLEY,OR,1:02:33,20:10,\r\n\r\n 124 of 126\r\n\r\n...,F 40-44,\r\n\r\n 14 of 14\r\n\r\n ...,0:40,1:03:13
232,232,19,\r\n\r\n NOVA WEISEL\r\n\r\...,F,9,HAPPY VALLEY,OR,1:02:33,20:10,\r\n\r\n 125 of 126\r\n\r\n...,F 9 and Under,\r\n\r\n 4 of 5\r\n\r\n ...,0:40,1:03:13
233,233,138,\r\n\r\n ALICE SARIEDDINE\r...,F,9,HAPPY VALLEY,OR,1:02:36,20:11,\r\n\r\n 126 of 126\r\n\r\n...,F 9 and Under,\r\n\r\n 5 of 5\r\n\r\n ...,0:02,1:02:38
234,234,139,\r\n\r\n ROY SARIEDDINE\r\n...,M,7,HAPPY VALLEY,OR,1:03:08,20:21,\r\n\r\n 108 of 108\r\n\r\n...,M 9 and Under,\r\n\r\n 8 of 8\r\n\r\n ...,0:02,1:03:10

In [43]:
df2

,Place,Bib,Name,Gender,Age,City,State,Time,Chip Pace,Gender Place,Division,Division Place,Time to Start,Gun Time
1,1,251,\r\n\r\n GRAYCIN JANZEN\r\n...,M,17,HAPPY VALLEY,OR,20:56,6:45,\r\n\r\n 1 of 108\r\n\r\n ...,M Overall,\r\n\r\n 1 of 3\r\n\r\n ...,0:03,20:59
2,2,61,\r\n\r\n JACK WEIGEL\r\n\r\...,M,13,DAMASCUS,OR,21:23,6:53,\r\n\r\n 2 of 108\r\n\r\n ...,M Overall,\r\n\r\n 2 of 3\r\n\r\n ...,0:06,21:29
3,3,249,\r\n\r\n ROBERT DELGADO\r\n...,M,16,HAPPY VALLEY,OR,21:37,6:58,\r\n\r\n 3 of 108\r\n\r\n ...,M Overall,\r\n\r\n 3 of 3\r\n\r\n ...,0:04,21:41
4,4,168,\r\n\r\n JAYDEN DA SILVA\r\...,M,15,HAPPY VALLEY,OR,21:49,7:02,\r\n\r\n 4 of 108\r\n\r\n ...,M 15-19,\r\n\r\n 1 of 13\r\n\r\n ...,0:02,21:51
5,5,116,\r\n\r\n JAMES JONES\r\n\r\...,M,16,HAPPY VALLEY,OR,21:53,7:03,\r\n\r\n 5 of 108\r\n\r\n ...,M 15-19,\r\n\r\n 2 of 13\r\n\r\n ...,0:00,21:53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,230,57,\r\n\r\n JESSICA YANG\r\n\r...,F,24,HAPPY VALLEY,OR,1:02:03,20:00,\r\n\r\n 123 of 126\r\n\r\n...,F 20-24,\r\n\r\n 10 of 10\r\n\r\n ...,0:00,1:02:03
231,231,18,\r\n\r\n ROSELYN SHAMMASIAN...,F,40,HAPPY VALLEY,OR,1:02:33,20:10,\r\n\r\n 124 of 126\r\n\r\n...,F 40-44,\r\n\r\n 14 of 14\r\n\r\n ...,0:40,1:03:13
232,232,19,\r\n\r\n NOVA WEISEL\r\n\r\...,F,9,HAPPY VALLEY,OR,1:02:33,20:10,\r\n\r\n 125 of 126\r\n\r\n...,F 9 and Under,\r\n\r\n 4 of 5\r\n\r\n ...,0:40,1:03:13
233,233,138,\r\n\r\n ALICE SARIEDDINE\r...,F,9,HAPPY VALLEY,OR,1:02:36,20:11,\r\n\r\n 126 of 126\r\n\r\n...,F 9 and Under,\r\n\r\n 5 of 5\r\n\r\n ...,0:02,1:02:38
234,234,139,\r\n\r\n ROY SARIEDDINE\r\n...,M,7,HAPPY VALLEY,OR,1:03:08,20:21,\r\n\r\n 108 of 108\r\n\r\n...,M 9 and Under,\r\n\r\n 8 of 8\r\n\r\n ...,0:02,1:03:10

In [ ]:
df2['Age'] = df2['Age'].astype(int)
df2['Age'].describe()

/tmp/ipykernel_20058/1491625070.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Age'] = df2['Age'].astype(int)

count    234.000000
mean      33.662393
std       17.451383
min        6.000000
25%       17.000000
50%       33.000000
75%       46.000000
max       79.000000
Name: Age, dtype: float64

In [53]:
# Convert 'Time' to timedelta, invalid formats become NaT
df2['chiptime'] = pd.to_timedelta(df2['Time'], errors='coerce')
df2[['chiptime']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 234 entries, 1 to 234
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   chiptime  6 non-null      timedelta64[ns]
dtypes: timedelta64[ns](1)
memory usage: 3.7 KB

/tmp/ipykernel_20058/2616813608.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['chiptime'] = pd.to_timedelta(df2['Time'], errors='coerce')