In [23]:
from csv import reader
with open('content/AppleStore.csv', 'r') as data:
  apps_data = reader(data)

  # convert into list
  apps_data = list(apps_data)

In [24]:
print(apps_data[:4])

[['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic'], ['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1'], ['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1'], ['529479190', 'Clash of Clans', '116476928', 'USD', '0.0', '2130805', '579', '4.5', '4.5', '9.24.12', '9+', 'Games', '38', '5', '18', '1']]

In [25]:
import pandas as pd
df = pd.read_csv('content/AppleStore.csv')
df.head(10)

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1
1,389801252,Instagram,113954816,USD,0.0,2161558,1289,4.5,4.0,10.23,12+,Photo & Video,37,0,29,1
2,529479190,Clash of Clans,116476928,USD,0.0,2130805,579,4.5,4.5,9.24.12,9+,Games,38,5,18,1
3,420009108,Temple Run,65921024,USD,0.0,1724546,3842,4.5,4.0,1.6.2,9+,Games,40,5,1,1
4,284035177,Pandora - Music & Radio,130242560,USD,0.0,1126879,3594,4.0,4.5,8.4.1,12+,Music,37,4,1,1
5,429047995,Pinterest,74778624,USD,0.0,1061624,1814,4.5,4.0,6.26,12+,Social Networking,37,5,27,1
6,282935706,Bible,92774400,USD,0.0,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1
7,553834731,Candy Crush Saga,222846976,USD,0.0,961794,2453,4.5,4.5,1.101.0,4+,Games,43,5,24,1
8,324684580,Spotify Music,132510720,USD,0.0,878563,8253,4.5,4.5,8.4.3,12+,Music,37,5,18,1
9,343200656,Angry Birds,175966208,USD,0.0,824451,107,4.5,3.0,7.4.0,4+,Games,38,0,10,1

In [26]:
apps_data[16]

['575658129',
 'Injustice: Gods Among Us',
 '1829599232',
 'USD',
 '0.0',
 '612532',
 '410',
 '4.5',
 '4.5',
 '2.15.1',
 '12+',
 'Games',
 '39',
 '5',
 '13',
 '1']

# Dictionary | Frequency Table

In [27]:
# key:value
a = {'country': 'Bangladesh', 'population': '18Cr', 'city':64}

In [28]:
a['country']

'Bangladesh'

In [29]:
type(a)

dict

In [30]:
a[4] = "Four"

In [31]:
a['country'] = "BANGLADESH"

In [32]:
print(a)

{'country': 'BANGLADESH', 'population': '18Cr', 'city': 64, 4: 'Four'}

In [33]:
a.pop(4)

'Four'

In [34]:
a

{'country': 'BANGLADESH', 'population': '18Cr', 'city': 64}

In [35]:
# conditional statement, dict, membership operator

if 'Continent' in a:
  print("Yes")
else:
  print("No")

No

In [36]:
apps_data[1][11]

'Social Networking'

In [37]:
cout_Social_Networking = 0
count_Games = 0
count_Music = 0
count_Sports = 0
count_Entertainment = 0

for app in apps_data:
  category = app[11]



  if category == 'Social Networking':
    cout_Social_Networking = cout_Social_Networking + 1

  elif category == "Games":
    count_Games = count_Games +1

  elif category == 'Music':
    count_Music = count_Music + 1
  elif category == 'Sports':
    count_Sports = count_Sports + 1

  elif category == 'Entertainment':
    count_Entertainment = count_Entertainment + 1

In [38]:
print(cout_Social_Networking)
print(count_Games)
print(count_Music)
print(count_Sports)
print(count_Entertainment)

167
3862
138
114
535

In [39]:
#
count_app_dict = {}   #2 "Social Networking": 2

for app in apps_data[1:]:
  category = app[11]     # Social Networking

  if category in count_app_dict:   #False
    count_app_dict[category] = count_app_dict[category] + 1     #existing value
  else:
    count_app_dict[category] = 1                         # new key:value

In [40]:
print(count_app_dict)

{'Social Networking': 167, 'Photo & Video': 349, 'Games': 3862, 'Music': 138, 'Reference': 64, 'Health & Fitness': 180, 'Weather': 72, 'Utilities': 248, 'Travel': 81, 'Shopping': 122, 'News': 75, 'Navigation': 46, 'Lifestyle': 144, 'Entertainment': 535, 'Food & Drink': 63, 'Sports': 114, 'Book': 112, 'Finance': 104, 'Education': 453, 'Productivity': 178, 'Business': 57, 'Catalogs': 10, 'Medical': 23}

In [41]:
import pandas as pd
df = pd.read_csv('content/AppleStore.csv')
df['prime_genre'].unique()

array(['Social Networking', 'Photo & Video', 'Games', 'Music',
       'Reference', 'Health & Fitness', 'Weather', 'Utilities', 'Travel',
       'Shopping', 'News', 'Navigation', 'Lifestyle', 'Entertainment',
       'Food & Drink', 'Sports', 'Book', 'Finance', 'Education',
       'Productivity', 'Business', 'Catalogs', 'Medical'], dtype=object)

In [42]:
df['prime_genre'].value_counts()

prime_genre
Games                3862
Entertainment         535
Education             453
Photo & Video         349
Utilities             248
Health & Fitness      180
Productivity          178
Social Networking     167
Lifestyle             144
Music                 138
Shopping              122
Sports                114
Book                  112
Finance               104
Travel                 81
News                   75
Weather                72
Reference              64
Food & Drink           63
Business               57
Navigation             46
Medical                23
Catalogs               10
Name: count, dtype: int64

# Set

In [43]:
a = {"apple", "banana", 11, 34.3, False, True}
print(a)

{False, True, 34.3, 11, 'banana', 'apple'}

In [44]:
print(type(a))

<class 'set'>

In [45]:
b = {"apple", "banana", 11, 34.3, False, True, "apple"}
print(b)

{False, True, 34.3, 11, 'banana', 'apple'}

In [46]:
# value add in set
b.add("apple")

In [47]:
print(b)

{False, True, 34.3, 11, 'banana', 'apple'}

In [48]:
# delete items from set
b.pop()

False

In [49]:
print(b)

{True, 34.3, 11, 'banana', 'apple'}

In [50]:
df.head()

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1
1,389801252,Instagram,113954816,USD,0.0,2161558,1289,4.5,4.0,10.23,12+,Photo & Video,37,0,29,1
2,529479190,Clash of Clans,116476928,USD,0.0,2130805,579,4.5,4.5,9.24.12,9+,Games,38,5,18,1
3,420009108,Temple Run,65921024,USD,0.0,1724546,3842,4.5,4.0,1.6.2,9+,Games,40,5,1,1
4,284035177,Pandora - Music & Radio,130242560,USD,0.0,1126879,3594,4.0,4.5,8.4.1,12+,Music,37,4,1,1

In [51]:
unqiue_apps_category = set()

for app in apps_data[1:]:
  category = app[11]

  # add category inside set
  unqiue_apps_category.add(category)

In [52]:
print(sorted(unqiue_apps_category))

['Book', 'Business', 'Catalogs', 'Education', 'Entertainment', 'Finance', 'Food & Drink', 'Games', 'Health & Fitness', 'Lifestyle', 'Medical', 'Music', 'Navigation', 'News', 'Photo & Video', 'Productivity', 'Reference', 'Shopping', 'Social Networking', 'Sports', 'Travel', 'Utilities', 'Weather']

In [53]:
print(len(unqiue_apps_category))

23

In [54]:
# for verification purpose
print(df['prime_genre'].nunique())
print(sorted(df['prime_genre'].unique()))

23
['Book', 'Business', 'Catalogs', 'Education', 'Entertainment', 'Finance', 'Food & Drink', 'Games', 'Health & Fitness', 'Lifestyle', 'Medical', 'Music', 'Navigation', 'News', 'Photo & Video', 'Productivity', 'Reference', 'Shopping', 'Social Networking', 'Sports', 'Travel', 'Utilities', 'Weather']

In [55]:
unqiue_cont_rating	 = set()

for app in apps_data[1:]:
  cont_rating = app[10]
  # print(cont_rating)
  # add category inside set
  unqiue_cont_rating.add(cont_rating)

In [56]:
unqiue_cont_rating

{'12+', '17+', '4+', '9+'}



```
# This is formatted as code
```

# Function

In [57]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [58]:
tips_list = tips.values.tolist()

In [59]:
tips_list[:4]

[[16.99, 1.01, 'Female', 'No', 'Sun', 'Dinner', 2],
 [10.34, 1.66, 'Male', 'No', 'Sun', 'Dinner', 3],
 [21.01, 3.5, 'Male', 'No', 'Sun', 'Dinner', 3],
 [23.68, 3.31, 'Male', 'No', 'Sun', 'Dinner', 2]]

In [60]:
num1 = float(input("Enter your first number : "))
num2 = float(input("Enter your second number : "))

sum = num1 + num2
print(sum)

7.0

In [61]:
def two_num_sum(num1, num2): #num1=4, num2=2
  result = num1 + num2
  return result

In [62]:
two_num_sum(3, 89)

92

In [63]:
two_num_sum(4, 2)  # positional argu

6

In [64]:
two_num_sum(num2=9, num1=22)

31

In [65]:
[[16.99, 1.01, 'Female', 'No', 'Sun', 'Dinner', 2],
 [10.34, 1.66, 'Male', 'No', 'Sun', 'Dinner', 3],
 [21.01, 3.5, 'Male', 'No', 'Sun', 'Dinner', 3],
 [23.68, 3.31, 'Male', 'No', 'Sun', 'Dinner', 2]]

[[16.99, 1.01, 'Female', 'No', 'Sun', 'Dinner', 2],
 [10.34, 1.66, 'Male', 'No', 'Sun', 'Dinner', 3],
 [21.01, 3.5, 'Male', 'No', 'Sun', 'Dinner', 3],
 [23.68, 3.31, 'Male', 'No', 'Sun', 'Dinner', 2]]

In [66]:
len(tips_list)

244

In [67]:
time_count = {}

for i in tips_list:
  time = i[5]

  if time in time_count:
    time_count[time] += 1  # time_count[time] = time_count[time] + 1
  else:
    time_count[time] = 1

In [68]:
time_count

{'Dinner': 176, 'Lunch': 68}

In [69]:
day_count = {}

for i in tips_list:
  day = i[4]

  if day in day_count:
    day_count[day] += 1  # time_count[time] = time_count[time] + 1
  else:
    day_count[day] = 1

In [70]:
day_count

{'Sun': 76, 'Sat': 87, 'Thur': 62, 'Fri': 19}

In [71]:
def calculate_frequency(index, tips):

  result = {}

  for i in tips:
    n = i[index]

    if n in result:
      result[n] += 1
    else:
      result[n] = 1

  return result

In [72]:
calculate_frequency(2, tips_list)

{'Female': 87, 'Male': 157}

In [73]:
# calculate average
def average_value(index, tip_list):
  average_val = []

  for i in tip_list:
    val = float(i[index])

    average_val.append(val)


  total_val = 0

  for v in average_val:
    total_val += v

  average = total_val/ len(average_val)

  return average

In [74]:
# calculate average bill
average_value(0, tips_list)

19.785942622950824

In [75]:
# caluclate average tip
average_value(1, tips_list)

2.9982786885245902

45